.App {
  height: calc(100% - 300px);
  width: calc(100% - 64px);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  .App__chat-container {
    max-height: calc(100% - 100px);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f7e5ff80;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #be33ff80;
    }
  }
}

@media only screen and (max-width: 600px) {
  .App {
    height: calc(100% + 64px);
    padding: 32px;
  }
}